.background {
    background-image: url('/images/Transparent_PNG_Background_with_Hearts.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: fixed;   
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  
    z-index: -1; 
  }

  .VolOppsBackground{
    background-image: url('/images/pet-accessories.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: fixed;   
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  
    z-index: -1; 
  }
  .myheading{
    text-shadow: 3px 3px 6px;
  }
  .mySubheading{
    text-shadow: 1px 1px 2px;
    color: darkslategrey
  }
  footer{
    background-color: whitesmoke;
    padding: 4px;
    margin-top: 75px;
    font-size: 24px;
  }